.pr_grid-container {

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--naranja);
  }
  &:hover > .pr_grid-item {
    filter: saturate(200%);
  }
}
.pr_grid-item {
  width: 100%;
  height: 100%;
  filter: saturate(150%);
  transition: 0.3s ease;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

