.skill_container {
  display: flex;
  flex-direction: column;
}
.sk_containerlr{
  height: 700px;
  width: 100%;
  font-family: var(--font-quicksand);
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}
.sk_left {
  flex: 1;
}
.sk_left-title {
  color: var(--naranja);
  font-family: var(--font-bebas);
  font-size: 40px;
  text-align: center;
}
.sk_left-subtitle {
  color: var(--blanco);
  font-size: 10px;
  text-align: center;
  margin-top: 12px;
  color: #999;
}

.sk_right {
  flex: 1;
  display: flex;
  overflow-x: scroll;
}
